fastapi==0.128.0
uvicorn==0.40.0
python-dotenv==1.2.1
langchain==1.2.3
langchain-community==0.4.1
langchain-core==1.2.6
langchain-openai==1.1.6
langchain-anthropic==1.3.1
langchain-groq==1.1.1
langchain-text-splitters==1.1.0
langgraph==1.0.5
langgraph-prebuilt==1.0.5
sqlalchemy==2.0.45
psycopg2-binary==2.9.11
python-jose[cryptography]==3.3.0
httpx==0.28.1
python-multipart==0.0.20
pinecone-client==3.2.2
langchain-pinecone==0.2.13
pypdf==5.1.0
openai==2.14.0
anthropic==0.75.0
groq==0.37.1
gunicorn==23.0.0
sentence-transformers